* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "sora";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Sora-Light.ttf");
}
@font-face {
  font-family: "sora-bold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Sora-Bold.ttf);
}
:root {
  --color_005025: #005025;
  --color_fff: #fff;
}
body {
  font-family: sora;
}
.header {
  background-color: var(--color_005025);
  position: relative;
  border-radius: 0 0 140px 140px;
  -webkit-border-radius: 0 0 140px 140px;
  -moz-border-radius: 0 0 140px 140px;
  -ms-border-radius: 0 0 140px 140px;
  -o-border-radius: 0 0 140px 140px;
  margin-bottom: 10rem;
}
.header_navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
.left-nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left-nav .logo img {
  width: 34px;
  position: relative;
  top: -4px;
}
.left-nav .logo span {
  color: var(--color_fff);

  font-size: 24px;
  font-weight: 600;
}
.center-nav ul {
  display: flex;
  gap: 4rem;
}
.center-nav ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
.center-nav ul li a.active {
  color: var(--color_fff);
  font-weight: 600;
}
.center-nav ul li a.active::after {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  border-bottom: 2px solid #fff;
  position: relative;
  left: 15px;
  top: 3px;
}

.right-nav .link_nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.right-nav .link_nav a {
  color: var(--color_fff);
}

.right-nav .link_nav a.active {
  color: #000;
  background-color: #fff;
  padding: 9px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: 700;
}
.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 14rem;
}
.content_img {
  max-width: 500px;
}
.content_img img {
  width: 100%;
}
.content_text {
  max-width: 616px;
  width: 50%;
  position: relative;
  top: -57px;
  margin: 0 auto;
}
.content_text h1 {
  font-size: 60px;
  color: var(--color_fff);
  font-weight: 600;
}
.content_text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin: 2rem 0;
}
.content_text a {
  color: #000;
  background-color: #fff;
  font-family: sora-bold;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 10px 10px 48px #01381b;
}
.bottom_head {
  width: 600px;
  position: absolute;
  right: 105px;
  bottom: -11px;
}
.book_now {
  background-color: #fff;
  max-width: 1170px;
  width: 100%;

  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  left: 50%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 4px 60px rgba(0, 24, 11, 0.16);
  bottom: -70px;
}
.book_now form {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem 1.5rem;
}
.input_form {
  width: 88%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.group {
  padding: 0 12px;
  position: relative;
}
.group:not(:first-child) {
  border-left: 2px solid rgb(0, 0, 0, 0.3);
}

.group label {
  color: rgba(0red, 0, 0, 0.6);
  display: inline-block;
  margin-bottom: 1rem;
}
.group input {
  border: none;
  width: 100%;
  height: 40px;
}
.group input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.btn_form button {
  background-color: #7d261c;
  color: #fff;
  border: none;
  padding: 16px 29px;
  font-weight: 600;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.arrow_icon::after {
  content: "";
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 46px;
  right: 46px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
@media screen and (max-width: 999px) {
  .header_content {
    flex-direction: column-reverse;
  }
  .content_text {
    width: 90%;
    top: 0;
    margin: 6rem 0;
  }
  .content_img {
    max-width: 359px;
  }
  .book_now form {
    flex-direction: column;
  }
  .input_form{
    margin-bottom: 2rem;
    width: 100%;
  }
  .arrow_icon::after{
    right: 10px;
  }
}
